{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                    <th><h5>Grand Total (Shipping fee inclusive): <strong>&#x20a6;{{ order.get_cart_total|intcomma }}</strong></h5></th>
                    <th>
                        {% if order.get_cart_total > 0 %}
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        {% endif %}
                    </th>
                </tr>
            </table>
		</div>

		<br>
		<div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            {% for item in items %}         
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}"></div>
                <div style="flex:2"><p>{{ item.product.name }}</p><span><small>{{ item.product.category }}</small></span></div>
                <div style="flex:1">
                    <p>&#x20a6;{{ item.product.price|intcomma }}</p>
                    <span class="text-danger"><small><i class="fas fa-shipping-fast"></i> &#x20a6;{{ item.get_shipping_fee|intcomma }}</small></span>
                </div>
                <div style="flex:1">
                    <p class="quantity">{{ item.quantity }}</p>
                    <div class="quantity">
                        <img class="chg-quantity update-cart" data-product="{{ item.product.id }}" data-action="add" src="{% static  'images/arrow_up.png' %}">
                
                        <img class="chg-quantity update-cart" data-product="{{ item.product.id }}" data-action="remove" src="{% static  'images/arrow_down.png' %}">
                    </div>
                </div>
                <div style="flex:1"><p>&#x20a6;{{ item.get_total|intcomma }}</p></div>
            </div>
            {% empty %}
            <div class="cart-row">
                <p class="text-center">No item in cart yet, <a href="{% url 'store' %}">Continue shopping</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}