{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-group">
                        <input class="form-control" type="text" name="first_name"  placeholder="First Name.." required autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="last_name"  placeholder="Last Name.." required autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" value="{{ request.user.email }}" placeholder="Email.." readonly>
                    </div>
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="phone_number" placeholder="+2341234567890.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="shipping_notes" placeholder="Note for our delivery person..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

            <br>
            <div class="box-element hidden col-md-12" id="payment-info">
                <button id="make-payment" class="btn btn-success">Pay</button>
            </div>
		
		
	</div>

	<div class="col-lg-6">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>

            <hr>
	<h3>Order Summary</h3>
    <hr>
    {% for item in items %}
	<div class="cart-row">
		<div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}"></div>
        <div style="flex:2">
            <p>{{ item.product.name }}</p>
            <span>
                <small>{{ item.product.category }}</small>                
            </span>
            <span>
                {% if item.product.digital == True %}
                <small class="text-danger">(Can't be shipped)</small>
                {% endif %}
            </span>
        </div>
        <div style="flex:1">
            <p>&#x20a6;{{ item.product.price|intcomma }}</p>
            <span class="text-danger"><small><i class="fas fa-shipping-fast"></i> &#x20a6;{{ item.get_shipping_fee }}</small></span>
        </div>
		<div style="flex:1"><p>x{{ item.quantity }}</p></div>
    </div>
    {% endfor %}
	<h5>Items: {{ order.get_cart_items }}</h5>
	<h5>Total: &#x20a6;{{ order.get_cart_total|intcomma }}</h5>
        </div>
    </div>
</div>

<script>
    var shipping = '{{ order.shipping }}'
    var total = '{{ order.get_cart_total }}'
    
    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    // if (user != 'AnonymousUser'){
    //     document.getElementById('user-info').innerHTML = ''
    //     }

    if (shipping == 'False' && user != 'AnonymousUser'){
        //Hide entire form if user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add('hidden');
        //Show payment if logged in user wants to buy an item that does not require shipping
        document.getElementById('payment-info').classList.remove('hidden');
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()

        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        var transaction_id = (Date.now() + Math.random()).toString(36).replace('.','0')
        var userFormData = {
                'first_name':null,
                'last_name':null,
				'email':null,
                'total':total,
                'transaction_id':transaction_id
			}

        var shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
            'phone_number':null,
            'shipping_notes':null
        }

        if (shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            shippingInfo.phone_number = form.phone_number.value
            shippingInfo.shipping_notes = form.shipping_notes.value
        }

        if (user == 'AnonymousUser'){
            userFormData.first_name = form.first_name.value
            userFormData.last_name = form.last_name.value
            userFormData.email = form.email.value
            userFormData.transaction_id = form.transaction_id.value
        }

        var handler = PaystackPop.setup({
        key: 'pk_test_63d4f9da65de2cf218b7f4d9687a3031c93cde91',
        email: "{{ request.user.email }}",
        amount: total*100,
        currency: "NGN",
        ref: userFormData.transaction_id,
        metadata: {
            custom_fields: [
                {
                    display_name: "Mobile Number",
                    variable_name: "mobile_number",
                    value: shippingInfo.phone_number
                }
            ]
        },
        callback: function(response){
            var url ='/process_order/'
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken
                },
                body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
            })

            .then((response) =>{
                return response.json()
            })

            .then((data) => {
                // localStorage.setItem("transactionID",userFormData.transaction_id);
                window.location.href = "{% url 'store' %}"
            })
        },
        });
        handler.openIframe();
    }
</script>
{% endblock content%}