{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid bg-light text-dark">
<div class="row">
    <div class="col-md-8">
        <h2>{{ product.name }}</h2>
    </div>
    <div class="col-md-8">
        <img class="proddetail" src="{{ product.image.url }}"></a>
    </div>
    <div class="col-md-4">
        <strong>Product Description:</strong> <p> {{ product.description }} </p>
        <strong>Product Category:</strong> <p> {{ product.category }} </p>
        <strong>Brand:</strong> <p> {{ product.brand }} </p>
        <strong>Model:</strong> <p> {{ product.model }} </p>
        <strong>Colour:</strong> <p> {{ product.color }} </p>
        Add to cart<img class="chg-quantity update-cart" data-product="{{ product.id }}" data-action="add" src="{% static  'images/arrow_up.png' %}">
        <img class="chg-quantity update-cart" data-product="{{ product.id }}" data-action="remove" src="{% static  'images/arrow_down.png' %}">Remove from cart<br>
        <a class="btn btn-warning" href="{% url 'cart' %}">Checkout</a>
    </div>    
</div>
</div>
{% endblock content %}