{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">  
        <a href="{% url 'product_detail' product.category.id product.slug %}">
        <img class="thumbnail" src="{{ product.image.url }}"></a>
        <div class="middle">
            <div class="text"><strong>{{ product.description|truncatechars:50 }}</strong></div>
        </div>
        <div class="box-element product ">
            <h6><strong>{{ product.name }}</strong></h6>
            <span>{{ product.category.category_name }} | </span>
            <span class=text-danger>
                {% if product.shipping_fee %}
                <i class="fas fa-shipping-fast"></i> &#x20a6;{{ product.shipping_fee }}
                {% else %}
                <i class="fas fa-shipping-fast"></i> (Free)
                {% endif %}
            </span>
            <hr>     
            <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-warning add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'product_detail' product.category.id product.slug %}">View</a>
            <!-- <span style="display: inline-block; float: right"><small>&#x20a6;1,000.00</small></span> -->
            <h5 style="display: inline-block; float: right"><strong>&#x20a6;{{ product.price|intcomma }}</strong></h5> 
            
        </div>        
    </div>
    {% endfor%}
</div>
{% endblock content %}