{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Your order has been completed and your order number is: <strong></strong></h5></th>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}