body{
	background-image: url("../images/background.jpeg");
	background-repeat: initial;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}


.thumbnail {
    opacity: 1;
    display: block;
    transition: 500ms ease-in;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 4;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: justified;
  }

  .col-lg-4:hover .thumbnail {
    opacity: 0.9;
  }
  
  .col-lg-4:hover .middle {
    opacity: 5;
  }
  
  .text {
    background-color:  rgba(0, 0, 0, 0);
    color: #ffe600;
    font-size: 14px;
    padding: 16px 32px;
    font-family: Arial, Helvetica, sans-serif;
  }


.proddetail{
	width: 100%;
	height: auto;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-secondary{
	background-color: #75ca95e5!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: #FF8800;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}


.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: transparent;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: justified;
  }